name: Continuous Integration
on:
  pull_request:
  push:
    branches:
      - main
      - "releases/*"

permissions:
  contents: read

jobs:
  build-lint-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        # Earliest and latest supported
        rubyVersion: ["3.2", "3.4"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.rubyVersion }}

      - name: Install bundle
        run: |
          bundle config set path /tmp/bundle-dir
          bundle install

      - name: Lint and test
        run: bundle exec rake TESTOPTS="--verbose"

      - name: Type check Sorbet sample
        working-directory: sorbet_generic
        run: |
          bundle install
          bundle exec srb tc

      - name: Lint and test Rails app
        working-directory: rails_app
        env:
          NO_EAGER_TEMPORAL_CLIENT: 1
        run: |
          bundle install
          bin/rails db:migrate
          bin/rails db:seed
          bundle exec rake
